h1 {
    color: #7f32a860;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}
.headers {
    background-color: rgb(255,250,205);
}

.anchor {
    font-weight: bold;
    text-align: center;
}

.height {
    height: 200px;
}

.background {
    background-color: hsl(228, 80%, 38%);
}